body{
	margin: 0;

}
header{
	background: pink;
	color: white;
	padding: 0px 0px 40px;
	height:20px;
}
header h1{
	display: inline;
	font-family: Arial;
	font-weight:400;
	font-size:30px;
	float :left;
	margin-top: 0px;
	margin-right: 0px;
}
nav ul{
	display:inline;
	padding:10px;
	float: right;
	text-decoration: none;
}
nav ul li{
	display: inline-block;
	 list-style-type: none;
	 color:white;
	 float: left;
	 margin-left: 12px;
}
.homered{
	background-color :red;
	padding:2px 2px 2px 2px;
}
.divider{
	background-color:red;
	height:5px;
}
.homeblack:hover
{
	background-color:blue;
}
.fwimage{
	background-image: url("project/helping.jpg");
	width:100%;
	height:100%;
	
	background-size:cover;
	margin:0;
	padding:0;
}
.homesub{
	font-family: initial;
	margin:0% 0% 0% 10%;
	padding:9% 5% 0% 40%;
	font-size:35px;
	color: yellow;
}
.homeak{
	font-family:inherit; ;
	margin:0.5% 0% 0% 55%;
	
	font-size: 40px;
	color:violet;

}
.buttonhome{
	margin:0% 0% 0% 55%;
	background:blue;
	background-size: 5px 5px;
	color:black;
	border:none;
	height:30px;
	font-size:30px;
	cursor:pointer;


}





